body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #808080;
}
header {
    background-color: #f16051;
    padding: 70px;
    text-align: center;
    font-size: 70px;
    color: white;
    
  }

  nav {
    position: relative;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: rgb(252, 251, 251);
    padding: 300px;
    
  
  }


.text{
  position: absolute;
  color: #808080;
  top: 0;
  left: 0;
  
  

}

.btnsave {
  color:   #808080;
  /*display: none;*/
 
}

#btnProcess{
  border-color: #f16051;
  color:  black;
  border-radius: 2px;
  font-size: 17px;
  border : 1px solid black;
}
#btnProcess:hover {
  background:#f16051;
  color: white;
}

#btnSave{
  border-color: #f16051;
  color:  black;
  border-radius: 2px;
  font-size: 17px;
  border : 1px solid black;
}
#btnSave:hover {
  background:#f16051;
  color: white;
}
#btnUpload{
  border-color: #f16051;
  color:  black;
  border-radius: 2px;
  font-size: 17px;
  border : 1px solid black;
}
#btnUpload:hover {
  background:#f16051;
  color: white;
}

footer {
  background-color: #808080;
  padding: 10px;
  text-align: left;
  color: white;
}

