body {
    font-family: Arial, Helvetica, sans-serif;
    background: #808080;
}
header {
    background-color: #f16051;
    padding: 70px;
    text-align: center;
    font-size: 70px;
    color: white;
    
  }

  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: rgb(252, 251, 251);
    padding: 100px;
    
  
  }


.text{
  position: relative;
  color: #808080;
  top: 0;
  left: 0;

}

.btnsave {
  color:   #808080;
  display: none;
 
}

